.big-review-container {
  margin-left: 0px;
}

div.review-header {
  display: flex;
  padding: 10px;
}

div.review-header h2 {
  margin-right: 25px;
  margin-left: 20px;
}

.review-container {
  border: 1px solid lightgray;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px;
  margin: 20px;
  width: 90%;
  /* margin-right: 0px; */
  /* height: fit-content; */
}

.review-owner {
  /* margin-bottom: 6px; */
  /* border: 1px solid blue; */
  display: flex;
}

.review-user-container {
  display: flex;
  align-items: center;
}

.review-score {
  margin-bottom: 6px;
  /* border: 1px solid limegreen; */
}

.star {
  height: 25px;
  width: 25px;
}

.review-profilepic {
  height: 36px;
  width: 36px;
  border: 1px;
  border-radius: 50%;
  margin-right: 12px;
}

.review-username {
  display: flex;
  align-items: center;
  color: slategray;
  margin-right: 6px;
  text-decoration: none;
}

.review-username:hover {
  border-bottom: 1px solid lightslategrey;
  color: rgb(139, 157, 175);
}

.review-created-date {
  display: flex;
  align-items: center;
  color: slategray;
}

.review-information {
  padding-left: 48px;
}

.review-description {
  font-size: 16px;
  color: rgb(61, 61, 61);
  height: 80px;
}