.listing-page {
  text-decoration: none;
  color: black;
}

.listingsBar-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 15px;
  margin-left: 15px;
  max-height: 300px;

  display: flex;
  flex-direction: column;
}

.listingsBar-container h2 {
  margin-top: 30px;
  font-size: 20px;
}

div.listings-container-cat {
  max-height: 300px;
  display:flex;
  overflow: scroll;
  white-space: nowrap;
  border-radius: 5px;
}

div.listingsBar-container__listing {
  max-width: 200px;
  max-height: 200px;
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.listingsBar-container__listing {
  padding: 15px;
  margin: 15px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.listingsBar-container__listing:hover {
  box-shadow: -1px 1px 5px 4px rgb(124 123 123 / 20%);
}

.listingsBar-container__listing-image {
  max-height: 110px;
  max-width: 150px;
  float: inherit;
  align-items: center;
}

div.listingsBar-container__listing-name {
  height: 20px;
  overflow: hidden;
}

.listingsBar-container__listing-price{
  font-weight: bold;
}

