

.category-link {
  text-decoration: none;
  color: black;
  padding: 15px;
  transition: box-shadow 1s;
  border-radius: 10px;
  background-color: #fdf4eb;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
