.categories-container {
  color: red;
  border-bottom: 2px solid lightgrey;
  display: flex;
  justify-content: space-around;
  background-color: #fdf4eb;
}

.category-link {
  border-bottom: none;
  width: fit-content;
}

.category-link:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  margin-top:15px;
  width: 0px;
  background: transparent;
  transition: width 1s ease, background-color .5s ease;
}

.category-link:hover:after {
  width: 100%;
  background: grey;
}