.footer-container {
  display: flex;
  background-color: #333333;
  height: 100px;
  color: white;
  align-items: center;
}

.footer-text {
  background-color: #333333
}

.githubLogo {
  height: 55px;
  width: 55px;
  overflow: hidden;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-left: 30px;
}

.githubimg {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;

}