/* TODO Add site wide styles */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-color: #FAFDF3; */
  /* box-sizing: border-box; */

}
div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Navigation {
  background-color: #FAFDF3;
}

body, ul, div, nav {
  padding: 0px;
  margin: 0px;
}