.listing-page-info-review {
  display: flex;
  flex-direction: column;
  /* border: 1px red solid; */
}

.listing-info-container {
  display: flex;
  justify-content: space-between;
}

.listing-image-container {
  margin: 30px;
}

.listing-image-onpage {
  margin: 30px;
  width: 500px;
  height: 500px;
}

.listing-details {
  margin: 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: right; */
}

.listing-name {
  font-size: 25px;
  font-weight:lighter;
  margin: 30px;
}

.listing-price {
  margin: 30px;
  font-size: 25px;
}

.add-to-cart-btn {
  margin: 30px;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: rgb(255, 236, 219);
  border: 2px solid peachpuff;
  border-radius: 5px;
}

.listing-description {
  margin: 30px;
}

.listing-page-reviews {
  width: 100%;
  /* border:1px solid lightslategray; */
  margin-left: 30px;
}