.catPage-entire-cont {
  background-color: #fdfbf7;
}

.btns-sort {
  margin-top: 30px;
  margin-left: 60px;

}

.section {
  background-color: #fdfbf7;

}

.all-list-cat {
  padding: 10px;
  margin: 10px 30px 30px 30px;
  display: flex;
  flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.listingsCat-container__listing {
  width: 180px;
  height: 150px;
  padding: 15px;
  margin: 15px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listingsCat-container__listing:hover {
  box-shadow: -1px 1px 5px 5px rgb(124 123 123 / 20%);
}

.listingsCat-container__listing-image {
  max-height: 110px;
  max-width: 150px;
  float: inherit;
}

.listingsCat-container__listing-name {
  height: 20px;
  margin-left: 15px;
  margin-right: 10px;
  overflow: hidden;
  font-size: 15px;
}

.listingsCat-container__listing-price {
  font-weight: bold;
}