.navBar__main {
  color: pink;
  background-color: #fdf4eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

li {
  padding: 10px;
  padding-right: 15px;
  list-style: none;
}

.navBar__search {
  height: 40px;
  width: 600px;
  border-radius: 10px;
  padding-left: 15px;
  /* flex-grow: 3; */
  /* width: 90%; */
  margin-top: 30px;
}

.cart-btn {
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: rgb(255, 236, 219);
  border: 2px solid peachpuff;
  border-radius: 5px;
}

.brandName {
  font-size: 40px;
  text-decoration: none;
  padding-left: 20px;
  color: orange;
}

.navBar__search-icon {
  margin-left: 5px;
  border-radius: 10px;
  width: 50px;
  height: 40px;
}